{% extends "layout.html" %}

{% block content %}
<center>
{% from "_macros.html" import render_field, render_input %}

    <form action="/cajasDinamicas" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ render_field(form.cantidad) }}  
        <button type="submit" class="btn btn-success">enviar</button> 
    </form>


    {% if form.cantidad.data %}
    <hr>
    <form action="/cajasDinamicas2" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h2>Cajas</h2>
            {% for i in range(0, form.cantidad.data) %}
            {{ render_input(name="numeros-" ~ i) }}
            {% endfor %}
        <div class="mt-5 text-center">
            <button type="submit" class="btn btn-success">enviar</button> 
        </div>

    </form>
    {% endif %}

{% endblock %}
</center>
