<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
    <title>Document</title>
</head>
<body>
    <div class="navbar navbar navbar-inverse navbar-flexed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="" class="brand">
                    UTL-IDGS


                </a>
                <ul class="nav">
                    <li>
                        <a href="">
                            <i class="icon-home icon-white"></i>
                            index
                        </a></li>
                    <li>
                        <a href="">
                        <i class="icon-user icon-white"></i>
                        user
                    </a></li>
                    <li>
                        <a href="">
                            <i class="icon-home icon-white"></i>
                            alumnos
                        </a></li>

                </ul>

            </div>

        </div>

    </div>
{% block content %}

{% endblock %}
    
</body>
</html>